<nav>
  <div class="nav-wrapper">
    <img src="assets/img/logo.svg" alt="Burger logo">
    <a href="#" class="brand-logo">Best Burgers</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Need to Try</a></li>
      <li><a href="#">Already Tried</a></li>
    </ul>
  </div>
</nav>
<div class="parallax-container">
   <div class="parallax"><img src="assets/img/img-top.jpg"></div>
 </div>
 <div class="section white">
   <div class="row container">
     <h2 class="header">Parallax</h2>
     <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
   </div>
 </div>
 <div class="parallax-container">
   <div class="parallax"><img src="assets/img/img-bottom.jpg"></div>
 </div>
<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        <p><span>{{~id}} </span>{{this.burger_name~}}</p>
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour It</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>
<h2>Eaten</h2>
<ul>
  {{#each burgers}}
    {{#if this.devoured}}
    <li>
      <p><span>{{~id}} </span>{{this.burger_name~}}</p>
      <form action="/{{this.id}}?_method=DELETE" method="POST">
        <button type="submit">Delete It</button>
      </form>
    </li>
    {{/if}}
  {{/each}}
</ul>
<h2>Add a Burger</h2>
<form action="/" method="POST">
  <div>
    <label for="burger-name">Burger Name:</label>
    <input type="text" id="burger-name" name="burger_name" maxlength="50">
  </div>
  <button type="submit">Add Burger</button>
</form>
